<h1 class="order_header">ALL THE PIZZAS!</h1>

<div class="orders">
  <% @orders.each do |order| %>
    <br>
    <h3>Name: <%= order.pretty_name() %></h3>
    <br>
    <h3>Order: <%= order.quantity %> x <%= order.topping %></h3>
    <br><br><br>
    <div class="order_buttons">
      <p><a href="/pizza-orders/<%= order.id %>">Show Order</a></p>
      <br><br>
      <p><a href="/pizza-orders/<%= order.id %>/edit">Edit Order</a></p>
    </div>

    <form action="/pizza-orders/<%= order.id %>/delete" method="post">
      <br>
      <input type="submit" value="Delete Order">
      <br>
    </form>
    <hr />
  <% end %>
</div>
